@import "../../styles/variables.scss";

.task {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-bottom: 12.5px;

    border-radius: 3px;

    color: white;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.256);
    box-sizing: content-box;

    &Small {
        @extend .task;

        flex-direction: row;
        justify-content: flex-start;

        padding-left: 10px;

        .taskName {
            margin-left: 5px;
        }
    }

    &Time {
        font-size: 1rem;
        user-select: none;
    }

    &Name {
        font-size: 1rem;
        font-weight: bold;
        text-align: center;

        user-select: none;
    }

    &Bottom {
        position: absolute;
        left: 0;
        bottom: 0;

        height: 16px;
        width: 100%;

        border-radius: 0 0 3px 3px;

        background-color: rgba(128, 128, 128, 0.081);

        &:hover {
            background-color: rgba(92, 92, 92, 0.093);

            cursor: grab;
        }
    }

    &Top {
        @extend .taskBottom;
        top: 0px;
    }
}

.addContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100px;

    border: 3px $font_color_2 dashed;
    border-radius: 5px;

    background-color: rgba(#F1F1F1, 0.7);

    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.237);
}

.addSelect {
    height: 100%;
    width: 100%;

    border: none;

    font-weight: bold;
    font-size: 1rem;
    text-align: center;
    background-color: transparent;
    color: $font_color_1;

    &:hover {
        cursor: pointer;
    }
}