@import "../variables.scss";

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;

    margin-top: auto;
    padding-bottom: 20px;

    width: 100%;
}

.category {
    height: 100%;
    width: 100%;
    max-width: 600px;

    margin: 0 10px;
}

.header {
    margin: 0 auto;
    padding-bottom: 5px;

    border-bottom: 2px solid $font_color_2;

    font-size: 1.7rem;
    font-weight: bold;
    text-align: center;
    color: black;
}

.tasks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 0 10px;
}

.task {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 100%;

    padding: 5px 0;

    font-size: 1.1rem;
    color: $font_color_1;

    &Value {
        display: flex;
        flex-direction: row;
        align-items: center;

        width: 85px;

        &Hours {
            margin-right: auto;
        }

        &Percentage {
            font-size: 1rem;
        }
    }
}

@media (max-width: $phone_bp) {
    .container {
        flex-direction: column;
    }

    .header {
        border-bottom: none;

        font-size: 1.2rem;
    }

    .task {
        font-size: 0.9rem;

        &Value {
            width: 80px;

            &Percentage {
                font-size: 0.9rem;
            }
        }
    }
}