$default: black;
$blue: #44A9FD;
$red: #E15554;

.button {
    padding: 5px 15px;

    border: 2px solid $default;
    border-radius: 20px;

    font-weight: normal;
    font-size: 1.5rem;
    color: $default;

    transition: cubic-bezier(.22, .61, .36, 1) 300ms all;

    &:hover {
        background-color: $default;
        color: white;
    }
}

.login {
    color: $blue;

    border-color: $blue;

    &:hover {
        background-color: $blue;
        color: white;
    }
}

.logout {
    color: $red;

    border-color: $red;

    &:hover {
        background-color: $red;
        color: white;
    }
}