@import "./variables.scss";

html {
    height: 100%;

    font-size: 16px;
}

body {
    height: 100%;

    margin: 0;

    font-family: 'Noto Sans', sans-serif;

    background-color: $global_background;
    color: black;
}

.mainBody {
    height: 100%;

    padding-top: $navbar_height;
}

.userBody {
    height: 100%;

    padding-left: $userbar_width;
    padding-top: $weekHeader_height;
}

#__next {
    height: 100%;
}

* {
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

@media (max-width: $phone_bp) {
    .userBody {
        padding-left: 0;
    }
}