@import "./variables.scss";

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100%;

    padding-top: 20px;

    color: black;

    overflow-y: hidden;
}

.title {
    width: 1000px;

    font-size: 6.5rem;
    font-weight: bold;
    text-align: center;
    line-height: 110%;
}

.subtitle {
    width: 800px;

    margin-top: 20px;

    font-size: 2.6rem;
    font-weight: lighter;
    text-align: center;
    line-height: 159%;
}

.email {
    font-weight: bold;
}

.enter {
    margin: 40px 0 30px 0;
    padding: 20px 40px;

    border-radius: 20px;

    font-size: 3.5rem;
    background-color: $login_color;
    color: white;

    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);

    &:hover {
        background-color: darken($login_color, 5);
    }
}


.imageWrapper {
    height: 500px;
    width: 100%;

    filter: blur(3px);
    background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.8)), url("/landing-preview-original.png");
    background-position: center 0;
    background-size: cover;
}