@import "./variables.scss";

.container {
    display: flex;
    flex-direction: column;

    height: 100%;
    width: 97%;

    margin: 0 auto;
    padding: 20px 0;
}

.weekDays {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    height: 100%;
    width: 100%;

    margin: 0 auto;
    
    overflow-y: hidden;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    height: 100%;
    width: 100%;
}

.titleContainer {
    position: absolute;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 90%;

    margin: 0 auto;
}

.arrow {
    font-size: 2rem;
    font-weight: 700;
}