@import "./variables.scss";

.container {
    display: flex;
    flex-direction: column;

    height: 100%;
    width: 97%;

    margin: 0 auto;
    padding-top: 40px;
}

.weekDays {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    height: 100%;
    width: 100%;

    margin: 0 auto;
    
    overflow-y: hidden;
}