@import "./variables.scss";

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    margin: 10px 20px;
}

.category {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;

    &Title {
        margin-bottom: 20px;

        font-size: 2.5rem;
        font-weight: bolder;
        color: $font_color_2;
    }
}

.list {
    min-width: 200px;
    flex-grow: 1;
}

.listHeader {
    margin-left: 10px;

    font-size: 1.7rem;
    font-weight: bold;
    text-align: left;
}

.listContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    margin: 0 10px;
}

.task {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    height: 35px;

    margin-bottom: 2px;

    &Delete {
        margin-right: 10px;

        font-size: 2rem;
        color: $font_color_2;

        transform: rotate(45deg);
        user-select: none;

        &:hover {
            cursor: pointer;
        }
    }

    &Category {
        margin-right: 10px;

        border: none;
        border-bottom: 2px solid $font_color_2;

        font-size: 1rem;
        background-color: transparent;
    }

    &Name {
        margin-right: 10px;

        border: none;
        border-bottom: 2px solid $font_color_2;

        font-size: 1rem;
        background-color: transparent;

        &:focus {
            outline: none;
        }
    }

    &ColorContainer {
        position: relative;

        height: 20px;
        width: 20px;

        border: 2px solid $font_color_1;
        border-radius: 100%;

        overflow: hidden;
    }

    &Color {
        position: absolute;

        top: -5px;
        left: -5px;

        height: 200%;
        width: 200%;

        margin: 0;
        padding: 0;

        border: none;
        outline: none;

        background-color: transparent;

        &:hover {
            cursor: pointer;
        }
    }
}

.newTask {
    width: fit-content;

    margin: 20px auto;

    &Submit {
        width: 100%;

        padding: 3px 40px;

        border: none;

        font-size: 1rem;
        font-weight: bold;
        background-color: $font_color_2;
        color: white;

        &:hover {
            cursor: pointer;
        }
    }
}

@media (max-width: $phone_bp) {
    .task {
        &Category {
            font-size: 0.8rem;
        }

        &Name {
            font-size: 0.8rem;
        }

        &ColorContainer {
            position: relative;

            height: 20px;
            width: 20px;

            border: 2px solid $font_color_1;
            border-radius: 100%;

            overflow: hidden;
        }

        &Color {
            position: absolute;

            top: -5px;
            left: -5px;

            height: 200%;
            width: 200%;

            margin: 0;
            padding: 0;

            border: none;
            outline: none;

            background-color: transparent;

            &:hover {
                cursor: pointer;
            }
        }
    }
}