@import "./variables.scss";

.tasks {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;

    width: 90%;

    margin: 80px auto 0 auto;
}

.task {
    &Container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        height: 200px;
        width: 300px;

        margin: 10px;
        padding: 20px;

        border-radius: 5px;
        color: white;
    }

    &Title {
        font-size: 1.5rem;
    }

    &Hours {
        margin-top: 4px;

        font-size: 1rem;
    }
}

.editLink {
    display: block;

    width: 92%;

    margin: 30px auto;
    padding: 10px;

    border-radius: 5px;

    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    color: $weekDay_color;

    opacity: 0.8;

    background-color: $weekDay_background;
        &:hover {
            cursor: pointer;

            background-color: darken($weekDay_background, 3)
        }
}

.edits {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    margin-top: 20px;
}

.edit {
    &Container {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        width: 90%;

        margin: 5px 0;
        padding: 10px;

        background-color: $weekDay_background;
    }

    &Title {
        padding: 10px;

        border: none;

        font-size: 2rem;
        background-color: rgba(255, 255, 255, 0.713);

        &:focus {
            background-color: rgb(255, 255, 255);
        }
    }

    &Color {
        height: 66px;

        margin-left: 20px;
        padding: 5px;
    }

    &Button {
        height: 66px;
        width: 66px;

        margin-left: 20px;

        &:hover {
            cursor: pointer;
        }
    }

    &Save {
        @extend .editButton;
    }

    &Delete {
        @extend .editButton;
    }

    &Changed {
        background-color: darken($weekDay_background, 10);
    }
}

.newEdit {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    width: 90%;

    margin: 5px auto;
    padding: 10px;

    background-color: $weekDay_background;

    &Submit {
        height: 4rem;
        width: 50%;

        margin: 0 auto;

        border: none;
        border-radius: 5px;

        font-size: 2rem;
        background-color: #8ac52a;
        color: white;

        &:hover {
            background-color: darken(#8ac52a, 2);

            cursor: pointer;
        }
    }
}
