@import "./variables.scss";

$height: 250px;
$width: 300px;

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    height: 100%;
    width: 100%;
}

.itemContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    margin: 0 auto;
}

.title {
    margin-bottom: 50px;

    font-size: 4rem;
    font-weight: bold;
    color: $font_color_2;
}

.canvasContainer {
    position: relative;
}

.innerContainer {
    position: absolute;
    top: calc(50% - ($height / 2));
    left: calc(50% - ($width / 2));

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    height: $height;
    width: $width;
}

.formattedTime {
    margin-bottom: 60px;

    font-size: 5rem;
    font-weight: 700;
    letter-spacing: 0.4rem;
}

.btn {
    height: 2rem;

    margin: 20px 0;
    padding: 0;

    font-size: 1.7rem;
    font-weight: 600;
    text-align: center;

    &:hover {
        cursor: pointer;
    }
}

.pauseButton {
    @extend .btn, .red;
}

.resumeButton {
    @extend .btn, .green;
}

.resetButton {
    @extend .btn, .red;
}

.saveButton {
    @extend .btn, .red;

    margin-top: 0;

    border: none;

    font-size: 1rem;
    background: none;
    outline: none;
}

.red {
    color: #e15554;
}

.green {
    color: #8ac52a;
}

// -----

.inputContainer {
    @extend .red;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;

    width: fit-content;

    margin-bottom: 60px;

    font-size: 5rem;
    font-weight: bold;
}

.input {
    @extend .red;

    width: 6rem;

    margin: 0 10px;
    margin-bottom: 5px;
    padding: 0;

    border: none;
    border-bottom: 1px solid $font_color_2;

    font-size: 4.5rem;
    font-weight: 700;
    text-align: right;
    letter-spacing: 0.4rem;
    background: none;

    &:focus {
        outline: none;
    }
}