$global_background: #ffffff;

$font_color_1: #7D7D7D;

$navbar_color: #FFFFFF;
$navbar_background: #4D9DE0;
$navbar_height: 6vh;

// $weekDay_background: #f8f8f8;
$weekDay_background: #ffffff;
$weekDay_color: $font_color_1;
$weekDay_divider: #f8f8f8;