$global_background: #ffffff;

$font_color_1: #7D7D7D;
$font_color_2: #C4C4C4;

$navbar_height: 4.5rem;
$navbar_color: #000000;
$navbar_background: #ffffff;
$brand_color: #008bff;
$login_color: #44A9FD;
$logout_color: #E15554;

$userbar_width: 200px;

$weekDay_background: #ffffff;
$weekDay_color: $font_color_1;
$weekDay_divider: #f8f8f8;

$green_1: #8AC52A;
$red_1: #E15554;