@import "./variables.scss";

.weekDay {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    height: 100%;
    width: 100%;

    box-sizing: border-box;

    &Title {
        width: 100%;

        padding-top: 20px;
        padding-bottom: 10px;

        font-size: 2.1rem;
        text-align: center;
        color: $weekDay_color;

        border-bottom: 2px solid $weekDay_divider;

        &Today {
            @extend .weekDayTitle;

            font-weight: bold;
        }

        &Disabled {
            @extend .weekDayTitle;

            background-color: lighten($weekDay_background, 3);
            color: lighten($weekDay_color, 30);
        }
    }

    &Tasks {
        height: 100%;
        width: 100%;

        padding: 10px;

        overflow-y: scroll;
        scrollbar-width: none;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    &AddNew {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        height: 130px;
        width: 100%;

        margin-top: 20px;
        padding: 13px 12px;
    }
}

.task {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 10px 0;
    padding-top: 20px;
    padding-bottom: 34px;

    border-radius: 5px;

    color: white;

    &Time {
        font-size: 1rem;
        user-select: none;
    }

    &Name {
        font-size: 1.2rem;
        text-align: center;

        user-select: none;
    }

    &Bottom {
        position: absolute;
        bottom: 0px;

        height: 16px;
        width: 100%;

        border-radius: 0 0 5px 5px;

        background-color: rgba(128, 128, 128, 0.145);

        &:hover {
            background-color: rgba(92, 92, 92, 0.138);

            cursor: pointer;
        }
    }

    &Top {
        @extend .taskBottom;
        top: 0px;
    }

    box-sizing: content-box;
}

.addNew {
    &Task {
        width: 90%;

        border: none;
        outline: none;

        font-size: 1.6rem;
        text-align: center;
        background-color: rgba(255, 255, 255, 0.508);
    }

    &Submit {
        width: 90%;

        padding: 2px 7px;

        border: none;
        border-radius: 2px;
        outline: none;

        font-size: 1rem;
        background-color: rgb(245, 245, 245);
        color: $weekDay_color;

        &:hover {
            background-color: darken(rgb(245, 245, 245), 4);

            cursor: pointer;
        }

        &Disabled {
            opacity: 0;
        }
    }
}
