@import "./variables.scss";
.weekDay {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    height: 100%;
    width: 13%;

    padding: 20px 0;

    box-sizing: border-box;

    &Title {
        width: 100%;

        margin-bottom: 20px;
        padding: 20px;

        font-size: 2.1rem;
        text-align: center;
        background-color: $day_background;
        color: $day_text_color;

        &Today {
            @extend .weekDayTitle;

            font-weight: bold;
        }

        &Disabled {
            @extend .weekDayTitle;

            background-color: lighten($day_background, 3);
            color: lighten($day_text_color, 30);
        }
    }

    &Tasks {
        height: 100%;
        width: 100%;

        padding: 10px;

        background-color: $day_background;

        overflow-y: scroll;
        scrollbar-width: none;

        &::-webkit-scrollbar {
            display: none;
        }

        &Disabled {
            @extend .weekDayTasks;

            background-color: lighten($day_background, 3);
        }
    }

    &AddNew {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        height: 130px;
        width: 100%;

        margin-top: 20px;
        padding: 13px 12px;

        background-color: $day_background;
    }
}

.task {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 10px 0;
    padding: 40px 0;

    border-radius: 5px;

    color: white;

    &Time {
        font-size: 1rem;
        user-select: none;
    }

    &Name {
        font-size: 1.7rem;
        text-align: center;

        user-select: none;
    }

    &Bottom {
        position: absolute;
        bottom: 0px;

        height: 16px;
        width: 100%;

        background-color: rgba(128, 128, 128, 0.145);

        &:hover {
            background-color: rgba(92, 92, 92, 0.138);

            cursor: pointer;
        }
    }

    &Top {
        @extend .taskBottom;
        top: 0px;
    }

    box-sizing: content-box;
}

.addNew {
    &Task {
        width: 90%;

        border: none;
        border-radius: 6px;
        outline: none;

        font-size: 1.6rem;
        text-align: center;
        background-color: rgba(255, 255, 255, 0.508);
    }

    &Submit {
        width: 90%;

        padding: 2px 7px;

        border: none;
        border-radius: 3px;
        outline: none;

        font-size: 1rem;
        background-color: rgb(87, 221, 87);
        color: white;

        &:hover {
            background-color: rgb(48, 204, 48);

            cursor: pointer;
        }

        &Disabled {
            @extend .addNewSubmit;

            background-color: rgb(120, 240, 120);

            &:hover {
                cursor: default;
                background-color: rgb(120, 240, 120);
            }
        }
    }
}
